<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="vendor/jquery.js"></script>
    <!-- <script type="text/javascript" src="vendor/angular/angular.js"></script> -->
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller/itemlist.js"></script>
</head>

<body class="contentbody" ng-app="app">
    <nav class="clearfix smtop">
        <div class="location fl">
        <span>北京</span>
            <ul>
                <li><span>北京</span></li>
                <li><span>上海</span></li>
                <li><span>成都</span></li>
                <li><span>新加坡</span></li>
                <li><span>云南</span></li>
                <li><span>贵州</span></li>
                <li><span>昆明</span></li>
                <li><span>齐齐哈尔</span></li>
                <li><span>北京</span></li>
            </ul>
        </div>
        <div class="topmenu fr">
            <span>欢迎您，范媛媛</span>
            <a href="#">数据来源</a>
            <a href="#">我的喜好</a>
            <a href="#">我的关注</a>
        </div>
    </nav>
    <section class="list" ng-controller="itemlist">
        <div class="floatsearch"><input type="text" name="search" id="search" placeholder="请输入商品名称或商品网址进行查询" ng-model="keyword"></div>
        <div class="topright clearfix">
        <div class="menuand menuandlogo fl">
            <h3 ng-click="showMenu()">类别</h3>
            <ul class="menu">
                <li><a href="#">家用电器</a></li>
                <li><a href="#">手机</a><a href="#">运营商</a><a href="#">数码</a></li>
                <li><a href="#">电脑</a><a href="#">办公</a></li>
                <li><a href="#">家具</a><a href="#">家电</a><a href="#">家装</a></li>
                <li><a href="#">家用电器</a></li>
                <li><a href="#">手机</a><a href="#">运营商</a><a href="#">数码</a></li>
                <li><a href="#">电脑</a><a href="#">办公</a></li>
                <li><a href="#">家具</a><a href="#">家电</a><a href="#">家装</a></li>
                <li><a href="#">家用电器</a></li>
                <li><a href="#">手机</a><a href="#">运营商</a><a href="#">数码</a></li>
                <li><a href="#">电脑</a><a href="#">办公</a></li>
                <li><a href="#">家具</a><a href="#">家电</a><a href="#">家装</a></li>
            </ul>
            <div class="submenu">
                <div>
                    <h3><a href="#">电视</a></h3>
                    <div><a href="#">曲面电视</a><a href="#">4K电视</a><a href="#">55英寸</a><a href="#">hdr电视</a></div>
                </div>
                <div>
                    <h3><a href="#">电视</a></h3>
                    <div><a href="#">曲面电视</a><a href="#">4K电视</a><a href="#">55英寸</a><a href="#">hdr电视</a></div>
                </div>
                <div>
                    <h3><a href="#">电视</a></h3>
                    <div><a href="#">曲面电视</a><a href="#">4K电视</a><a href="#">55英寸</a><a href="#">hdr电视</a></div>
                </div>
                <div>
                    <h3><a href="#">电视</a></h3>
                    <div><a href="#">曲面电视</a><a href="#">4K电视</a><a href="#">55英寸</a><a href="#">hdr电视</a></div>
                </div>
                <div>
                    <h3><a href="#">电视</a></h3>
                    <div><a href="#">曲面电视</a><a href="#">4K电视</a><a href="#">55英寸</a><a href="#">hdr电视</a></div>
                </div>
            </div>
        </div>
            <div class="search fl clearfix">
                <input type="text" name="search" id="search" placeholder="请输入商品名称或商品网址进行查询" ng-model="keyword">
                <button id="searchbtn" ng-click="getList()"><img src="img/search.png"></button>
            <div class="hotsearch">
                <a href="#">变频空调</a>
                <a href="#">小米手机</a>
                <a href="#">手环</a>
                <a href="#">卫生纸</a>
                <a href="#">衣柜</a>
            </div>
            </div>
            <div class="midmenu">
                <a href="#">所有商品</a>
                <a href="#">分类地图</a>
                <a href="#">随便看看</a>
            </div>
        </div>
        <div class="searchlist">
            <div class="count"><span>共有商品 {{d.count}} 件</span></div>
            <div class="classlist">
                <dl class="source clearfix">
                    <dt>数据来源</dt>
                    <dd class="cats">
                        <span ng-repeat="item in sources track by $index" ng-click="addSource(item)" ng-class="{'on':item.checked}">{{item.name}}</span>
                    </dd>
                    <dd class="more"><a href="#">更多</a></dd>
                </dl>
                <dl class="source clearfix">
                    <dt>品牌</dt>
                    <dd class="cats">
                        <span>京东</span>
                        <span>亚马逊</span>
                        <span>淘宝</span>
                        <span>天猫</span>
                        <span>1号店</span>
                        <span>苏宁</span>
                        <span>国美</span>
                    </dd>
                    <dd class="more"><a href="#">更多</a></dd>
                </dl>
                <dl class="source clearfix">
                    <dt>品牌</dt>
                    <dd class="cats">
                        <span>京东</span>
                        <span>亚马逊</span>
                        <span>淘宝</span>
                        <span>天猫</span>
                        <span>1号店</span>
                        <span>苏宁</span>
                        <span>国美</span>
                    </dd>
                    <dd class="more"><a href="#">更多</a></dd>
                </dl>
                <dl class="source clearfix">
                    <dt>品牌</dt>
                    <dd class="cats">
                        <span>京东</span>
                        <span>亚马逊</span>
                        <span>淘宝</span>
                        <span>天猫</span>
                        <span>1号店</span>
                        <span>苏宁</span>
                        <span>国美</span>
                    </dd>
                    <dd class="more"><a href="#">更多</a></dd>
                </dl>
            </div>
            <div class="itemlist">
                <div class="sorts clearfix">
                    <ul class="sort fl">
                        <li>默认</li>
                        <li>销量</li>
                        <li>评论数</li>
                        <li>价格</li>
                    </ul>
                    <div class="pricerange fl">
                        <input type="text" id='lowp'>
                        <span>-</span>
                        <input type="text" id='highp'>
                        <a href="" class="btn-default">确定</a>
                    </div>
                    <div class="page fr">
                        <span>共 {{d.count}} 件商品</span>
                        <a class='prepage'><</a>
                        <span>1/100</span>
                        <a class='nextpage'>></a>
                    </div>
                    <div class="sendsite fr">
                        <span>发货地</span>
                    </div>
                </div>
                <div class="items img5 clearfix">

                    <div class="fl" ng-repeat="item in itemlist">
                        <div class="img">
                            <img src="https://img14.360buyimg.com/n1/jfs/t3253/232/4382660655/19785/d538d7e0/58413e42Ncc57b276.jpg">
                        </div>
                        <div class="title">
                            <a ng-href="{{item.url}}">{{item.name}}</a>
                            <div class="price"><span>￥{{item.price}}</span><!-- <span class="oldprice">￥499.00</span> --></div>
                            <div class="comments"><a ng-href="{{item.url}}">{{item.comments}}条评论</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
<script type="text/javascript"></script>

</html>
